*{
	box-sizing: border-box;
	color: white;
}

body{
	margin: 0;
	background: black;
}

.currentView{
	background-image: url('http://www.gannett-cdn.com/-mm-/3526533239800dac0c978150377d099025f1e52c/c=52-700-4303-3102&r=x1683&c=3200x1680/local/-/media/USATODAY/None/2014/10/03/1412368123000-Mesostorm-Lightning.jpg');
}

.condition{

}

#weatherContainer_daily{

}

#navBar {
	top: 0;
	/*position: fixed;*/
	display: flex;
	width: 100vw;
	background-color: #2c364b;
	padding: 10px;
	margin: 0;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

button {
	margin: 2%;
	max-width: 250px;
    background-color: #2dabf9;
    border-radius: 28px;
    border: 1px solid #0b0e07;
    flex: 2;
    flex-grow: 1;
    cursor: pointer;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}
button:hover {
	background-color:#0688fa;
}
button:active {
	position:relative;
	top:1px;
}
