* {
    box-sizing: border-box;
    color: white;
    font-family: 'Poiret One', cursive;
}

body {
    margin: 0;
    background: black;
    background-image: url('http://www.australia.com/content/australia/en_us/facts/weather/_jcr_content/mainParsys/hero/image.adapt.1663.medium.jpg');
}

h2 {
    font-size: 35pt;
}

li {
    font-size: 12pt;
    margin-top: 6pt;
    margin-bottom: 6pt;
}

#backgroundImage {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

.weatherInformation {
    flex: 1;
    margin: 20px;
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 0;
    width: 50000px;
    background-color: rgba(44, 54, 75, .5);
    flex-basis: auto;
    list-style: square;
}

.currentView {
    display: flex;
    padding: 2% 2% 2% 2%;
    min-width: 75%;
    /*margin-top: 25%;*/
    flex-direction: row;
    justify-content: space-between;
}

.condition {}

#weatherContainer {
    margin-top: 20%;
    height: 500px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

#navBar {
    top: 0;
    position: fixed;
    /*opacity: .5;*/
    display: flex;
    width: 100vw;
    background-color: rgba(44, 54, 75, .5);
    padding: 10px;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

button {
    margin: 2%;
    max-width: 250px;
    background-color: #2dabf9;
    border-radius: 28px;
    border: 1px solid #0b0e07;
    flex: 2;
    flex-grow: 1;
    cursor: pointer;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}

button:hover {
    background-color: #0688fa;
}

button:active {
    position: relative;
    top: 1px;
}


/*skycons stuff*/

article {
    margin: auto;
    width: 30em;
}

figure {
    margin: 3em auto;
    width: 368px;
    height: 152px;
}

canvas {
    display: block;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}
